  html, body {
    background-color: #f5f5f5;
    margin: 0%;
}

* {
    font-family: 'Poppins';
}

/****************Tabela**********************/

table.contained {
    width: 70%;
    margin: 0 15%;
}

table {
    text-align: start;
    border: 1px solid black;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: 40px;
}

th {
    text-align: start;
    background-color: #b3b3b3;
    padding: 8px 4px;
}

tr {
    border-bottom: 1px solid #b3b3b3;
}

tfoot tr {
    border-bottom: 0;
}

tfoot tr.sum td{
    text-align: right;
    padding: 4px 4px;
}

.edit-cell a {
    text-decoration: none;
    background-color: rgb(55, 100, 212);
    padding: 2px 4px;
    margin: 2px 0;
    display: inline-block;
    color: white;
    border-radius: 6px;
}

tr .edit-cella button {
    display: inline-block!important;
}

.edit-cell a:hover {
    background-color: rgb(27, 82, 212);
}

tbody tr.tabela td {
    border : 1px solid black;
}

small {
    font-size: 12px;
}

.contained td:first-child {
    width: 40%;
}

.contained td:nth-child(2) {
    width: 40%;
}

.contained td:nth-child(3) {
    /* width: 10%; */
    text-align: center;
}

.btn {
    background-color: transparent;
    /* padding: 8px 16px; */
    margin: 2px 0;
    display: inline-block;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.btn.btn-sucess {
    background-color: rgb(75, 191, 75);
}

.btn.btn.btn-sucess:hover {
    background-color: rgb(48, 150, 53);
}

.btn.btn.btn-sucess:active {
    background-color: rgb(13, 95, 17);
}

.btn.btn-warning {
    background-color: rgb(255, 165, 0);
}

.btn.btn-warning:hover {
    background-color: rgb(255, 140, 0);
}

.btn.btn-warning:active {
    background-color: rgb(105, 61, 7);
}

.btn.btn-danger {
    background-color: rgb(255, 0, 0);
}

.btn.btn-danger:hover {
    background-color: rgb(65, 17, 33);
}

.btn.btn-danger:active {
    background-color: rgb(238, 124, 124);
}

.w-40 {
    width: 40%;
}

/***********INDEX***************/
.text-center h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: black;
    text-align: center;
}

ul.navlist {
    padding: 0%;
    margin: 0;
    list-style-type: none;
    text-align: center;
    margin-top: 50px;
}

.text-center {
    text-align: center;
}

ul.navlist li {
    display: inline;
    margin: auto;
    padding: 15px;
}

ul.navlist li a {
    text-decoration: none;
    color:black;
    margin: auto;
    padding: 10px;
    font-size: 15px;
    border: 1px solid grey;
} 
ul.navlist li a:hover {
    background-color: #f2f2f2;
    font-size: 18px;
}

/***********MEDIA QUERRY***************/
@media screen and (max-width: 600px) { /*entre 0 e 600px de largura*/
    html, body {
        background-color: lightblue;
    }

    ul.navlist li a {
        display: block;
    }

    ul.navlist {
        margin: 0 48px;
    }
}

/***************Página de Titulos***********************/

#titulo{
    text-align: center;
    font-size: 3em;
}

#titulos {
    margin-top: 0.5em;
    text-align: center;
    align-items: center;
}

.e-titulo {
    background-color: white;
    box-shadow:  8px 8px 10px 0.1px #000;
    margin-left: 30%;
    margin-right: 30%;
    width: auto;
    padding: 20px;
    margin-bottom: 32px;
    text-align: center;
    align-items: center; 
    border-radius: 12px;
}

.e-titulo:hover {
    box-shadow:  0px 0px 10px red;
    transition: 0.5s;
} 

#titulos h1:hover{
    font-size: 36px;
}

#titulos h2:hover{
    font-size: 28px;
}

#titulos h3:hover{
    font-size: 22px;
}

#titulos h4:hover{
    font-size: 20px;
}

#titulos h5:hover{
    font-size: 17px;
}

#titulos h6:hover{
    font-size: 14px;
}

/******************************************/